.resultat {
  overflow: visible;
  position: relative;
  background-color: var(--a-surface-inverted);
  list-style: none;
  padding: 0 var(--a-spacing-2) var(--a-spacing-2) var(--a-spacing-2);
}
.form {
  padding-top: var(--a-spacing-2);
  background-color: var(--a-surface-inverted);
  overflow: visible;
}
